
:root {
  --app-bg-color: #fff;
  --body-bg-color: rgba(0,0,0,0.01);
  --bg-gray: rgba(0,0,0,0.04);
  --app-main-color: #eee;
  --bg-light-blue: rgba(30, 144, 255, 0.03);
  --darkest: #000;
  --green: #3AD69E;
}

html {
  box-sizing: border-box;
  background-color: var(--body-bg-color);
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}
*, *::before, *::after { box-sizing: inherit; }

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #363636;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p, ol, ul, dl { margin-top: 0; margin-bottom: 1rem; }

h1, .h1 { font-size: 4rem; line-height: 5rem; }
h2, .h2 { font-size: 3rem; line-height: 4rem; }
h3, .h3 { font-size: 2rem; line-height: 3rem; }
h4, .h4 { font-size: 1.5rem; line-height: 2.25rem; }
h5, .h5 { font-size: 1.125rem; line-height: 1.75rem; }
h6, .h6 { font-size: 1rem; line-height: 1.5rem; }

body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--body-bg-color);
}
body::-webkit-scrollbar {
    width: 0.2em;
}
  
body::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
  
body::-webkit-scrollbar-thumb {
background-color:var(--darkest);
outline: 1px solid var(--darkest);
}

.feeds-scale {
  background-color: var(--body-bg-color);
}
.container { 
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

/*Phone*/
/* @media (max-width: 599px) {

} */
/*Portrait tablet*/
/* @media (min-width: 600px) {

} */
/*landscape tablet*/
/* @media (min-width: 900px) {

} */
/*desktop*/
/* @media (min-width: 1200px) {

} */
/*big desktop*/
/* @media (min-width: 1800px) {

} */

@media (min-width: 576px) {
  .container { max-width: 540px; }
}
@media (min-width: 768px) {
  .container { max-width: 720px; }
}
@media (min-width: 992px) {
  .container { max-width: 960px; }
}
@media (min-width: 1200px) {
  .container { max-width: 1140px; }
}

.container-fluid {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto {
  position: relative;
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

}

/* .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: repeat();
  grid-auto-rows:4 ;
  grid-gap: 1rem; 
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}
.grid-col-1 {
  display: grid;
  grid-template-columns: repeat(12,1fr);
} */
.form-horizontal {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.form-vertical {
  position: relative;
}
.form-horizontal > .input-box:not(:first-child) {
  margin-left: 0.5em;
}
.input-box {
  margin-bottom: 10px;
}
.form-control, .form-control-md, .form-control-lg{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #eee;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control-md {
  padding: .575rem .75rem;
}
.form-control-lg {
  padding: .7rem .75rem;
}
.form-control:focus, .form-control-md:focus, .form-control-lg:focus {
  outline: none;
  background-color: rgba(196,196,196,0.09);
}

.input,
.textarea {
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
}
.input:focus, .input.is-focused, .input:active, .input.is-active,
.textarea:focus,
.textarea.is-focused,
.textarea:active,
.textarea.is-active {
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
.input.is-inline,
.textarea.is-inline {
  display: inline;
}

.input.is-rounded {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
}

.input.is-static {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}
.textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: 0.625em;
  resize: vertical;
}
.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

.select:not(.is-multiple) {
  height: 2.25em;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #3273dc;
  right: 1.125em;
  z-index: 4;
}

.select.is-rounded select {
  border-radius: 290486px;
  padding-left: 1em;
}

.select select {
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: none;
}

.select select::-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}
.select select:focus, .select select.is-focused, .select select:active, .select select.is-active {
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
.label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

.label:not(:last-child) {
  margin-bottom: 0.5em;
}
/* comment inputFields */
/* .inputField {
  display: none;
} */
.inputField.active {
  display: block;
}
.navbar {
  background-color: white;
  height: 4.063rem;
  position: relative;
  border-bottom: 1px solid var(--app-main-color);
  /* box-shadow: rgba(17, 17, 18, 0.04) 0 2px 4px, rgba(19, 20, 20, 0.06) 0 1px 1px; */
  z-index: 30;
}
.navbar-burger {
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  height: 4.063rem;
  position: relative;
  width: 4.063rem;
  margin-left: auto;
}
.navbar-burger span {
  display: block;
  top: calc(50% - 38px);
  left: 50%;
  position: absolute;
  font-size: 40px;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-property: background-color, opacity, transform, -webkit-transform;
  transition-timing-function: ease-out;
}
.nav-menu { display: none; }

.navbar-item {
  min-height: 4.063rem;
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: 0 0.75rem;
  position: relative;
}
.brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 4.063rem;
}
.brand .navbar-item { font-size: 18px; }
.navbar > .container {
  align-items: stretch;
  display: flex;
  min-height: 4.063rem;
  width: 100%;
}

.navbar .navbar-left > .navbar-item, .navbar .navbar-right > .navbar-item {
  border-bottom: 1px solid transparent;
}

.navbar .navbar-left > .navbar-item:hover, .navbar .navbar-right > .navbar-item:hover {
  border-bottom-color: #444;
}

.navbar .navbar-left > .is-active, .navbar .navbar-right > .is-active {
  border-bottom: 1px solid #444;
}

.navbar-item {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
}
.navbar.fixed-top {
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
}
html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
  padding-top: 3.25rem;
}
 
@media screen and (max-width: 768px){
 .navbar {
    width: 100%;
  }
   .navbar > .container {
    display: block;
  }
  .brand .navbar-item,
  .navbar-item {
    align-items: center;
    display: flex;
  }

  .nav-menu {
    background-color: white;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    padding: 0.5rem 0;
  }
 
}
 
@media (min-width: 1024px){
  .container {
    max-width: 960px;
    width: 960px;
  }
  .container.is-fluid {
    margin-left: 64px;
    margin-right: 64px;
    max-width: none;
    width: auto;
  }
  .navbar > .container.is-fluid {
    align-items: stretch;
    display: flex;
    min-height: 4.063rem;
    width: 100%;
  }
  .navbar,
  .nav-menu,
  .navbar-right,
  .navbar-left {
    display: flex;
    align-items: stretch;
  }
  .navbar {
    min-height: 4.063rem;
  }
  .navbar-left, .navbar-right {
    align-items: center;
  }
   .navbar-burger {
    display: none;
  }
  .navbar-item {
    display: flex;
    align-items: center;
  }
  .navbar-item {
    display: flex;
  }
   .nav-menu {
    flex-grow: 1;
    flex-shrink: 0;
  }
  .navbar-left {
    justify-content: flex-start;
    margin-right: auto;
  }
  .navbar-right {
    justify-content: flex-end;
    margin-left: auto;
  }
  .navbar > .container .brand,
  .container > .navbar .brand {
    margin-left: -.75rem;
  }
  .navbar > .container .nav-menu,
  .container > .navbar .nav-menu {
    margin-right: -.75rem;
  }
}

.is-fluid { padding: 0 0.9375rem 0 0.9375rem; }

/*buttons*/
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
}
.ripple::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%,transparent 10.01%);
    transform: scale(10,10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}
.ripple:active::after {
    transform: scale(0,0);
    opacity: .3;
    transition: 0s;
}
.btn-block {
  width: 100%;
}
.btn-rounded {
  border-radius: 1.875rem;
}
.btn-rectangle {
  border-radius: 0;
}
.btn-default {
  color: #444;
  background-color: var(--app-main-color);
}
.btn-black {
  color: #fff;
  background-color: #222;
}
.btn-blue {
  color: #fff;
  background-color: dodgerblue;
}
.btn-outline {
  color: #222;
  border: 1px solid #222;
}
.signup-btn {
  width: 150px;
  color: #eee;
  background-color: var(--green);
  border-radius: 1.875rem;
}
.title,
.subtitle {
  word-break: break-word;
}
/*filters */
.filters {
  padding-top: 10px;
}
/*modalcss*/
.modal {
  width: 100%;
  height: 100%;
  display: none;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top:0;
  z-index:1000;
  background-color: rgba(255,255,255,0.95);
}


.modal.is-active {
  display: flex;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.86);
}

.modal-content,
.modal-card {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.05);
  border-radius: 10px;
  /* box-shadow: rgba(17, 17, 18, 0.04) 0 2px 4px, rgba(19, 20, 20, 0.06) 0 1px 1px; */
}

@media screen and (min-width: 769px), print {
  .modal-content,
  .modal-card {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 540px;
  }
}

.modal-close {
  background: none;
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 40px;
}

.modal-card {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  overflow: hidden;
}

.modal-card-head,
.modal-card-foot {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}

.modal-card-head {
  position: relative;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.modal-card-title {
  color: #363636;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 1.5rem;
  line-height: 1;
}

.modal-card-foot {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.modal-card-foot .button:not(:last-child) {
  margin-right: 10px;
}

.modal-card-body {
  -webkit-overflow-scrolling: touch;
  background-color: white;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 20px;
}
.cancel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.cancel-btn:hover {
  background-color: rgba(0,0,0,0.06);
  transition: background-color 300ms ease-in;
}
/*appcard*/
.appcard {
  margin-bottom: 20px;
  background-color: var(--app-bg-color);
  border-radius: 10px;
  box-shadow: rgba(17, 17, 18, 0.04) 0 2px 4px, rgba(19, 20, 20, 0.06) 0 1px 1px;
}
.appcard-image > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.appcard-content {
  padding: 20px;
}
.appcard-content > h1 {
  text-align: center;
  font-weight: 400;
}

/*overlaycard*/
.overlaycard {
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: red;
}
.overlaycard-image > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}
.overlaycard-content {
  position: absolute;
  color: #fff;
  bottom: 15px;
  left: 20px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.04)
}
/*images*/
.centralize {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-title {
color: #444;
  font-weight: 400;
}
.home-footer {
  width: 100%;
  height: 4.063rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-footer > a {
  color: #495057;
}
/*   */

/* .center-card {
  width: 100%;
  padding: 20px 0;
  background-color: var(--app-bg-color);
  box-shadow: 18px 0 0 -9px rgba(170, 176, 190, 0.2), 36px 0 0 -18px rgba(161, 173, 197, 0.2), -18px 0 0 -9px rgba(131, 140, 158, 0.2), -36px 0 0 -18px rgba(178, 188, 211, 0.2), 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
} */
.center-card__image{
  width: 100%;
  height: 600px;
}
.center-card__image > img {
  object-fit: cover;
  width: 100%;
  height: 550px;
}
.image-rounded {
  object-fit: cover;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.card {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid var(--app-main-color);
  border-radius: 10px;
}
.card:hover {
  border-color: rgba(0,0,0,0.1);
}
.card-image {
  object-fit: cover;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
.card-title {
  line-height: 1.2;
}
.card-body {
  font-size: 16px;
  color: #444;
}
/* .card-body > p {
  font-family: 'Times', Times, serif;
} */
.card-body > p::first-letter {
  font-size: 200%;
}

.date-span {
  font-size: 14px;
  color: #777;
}

.reaction {
  font-size: 16px;
  font-weight: 100;
  padding: 3px 10px;
  border: 1px solid #eee;
  border-radius: 30px;
  cursor: pointer;
}
.reaction:hover {
  background-color: rgba(0,0,0,0.02);
  border-color: rgba(0,0,0,0.2);
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  min-width: 160px;
  position: absolute;
  top: 30px;
  right: 0;
  background: #fff;
  border: 1px solid var(--app-main-color);
  border-radius: 2px;
  z-index: 1;
}
.dropdown-content::before {
  content: '';
  position: absolute;
  background-color: #fff;
  top: -11px;
  right: 4px;
  width: 20px;
  height: 20px;
  border-top: 1px solid var(--app-main-color);
  border-left: 1px solid var(--app-main-color);
  transform: rotate(45deg);
  z-index: -1 !important;
}
.dropdown-content a {
  color: #444;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: var(--app-main-color);
}
.dropdown-ellipsis {
  font-size: 12px;
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
  display: block;
  transition: display 5s ease-out;
}

/*tab*/
.tab-container {
  position: relative;
  margin-top: 50px;
}
.tab {
  width: 100%;
  padding: 0 20px;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; */
  background-color: var(--app-bg-color);
  border: 1px solid rgba(0,0,0,0.06);
}
.tabs {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabs > .tablinks {
  color: #495057;
  height: 4.063rem;
  padding: 20px 10px;
}
.tablinks.active {
  border-bottom: 1px solid #444;
}
.tabs > .tablinks:hover {
  border-bottom: 1px solid #444;
}
.tabpane {
  display: none;
}
.tabpane.active {
  display: block;
}
.tab-btn {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-username {
  padding: 12px 0;
  font-size: 24px;
}
.profile-pix > img {
  margin-bottom: -20px;
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.profile-details {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--app-bg-color);
  border: 1px solid rgba(0,0,0,0.06);
  border-radius: 5px;
}
/*left-bar*/
.left-bar { 
  position: fixed;
  width: 210px;
  padding: 20px 10px 20px 0;
  z-index: 1;
 }
 @media screen and (max-width: 768px){
   .left-bar { 
      position: relative;
   }
 }
.left-bar-item {
  display: block;
  color: #444;
  margin: 8px 0;
  padding: 5px 20px;
  background-color: transparent;
  border-radius: 30px;
}
.left-bar-item:hover {
  background-color: var(--app-main-color);
}
.left-bar-item.active {
  padding: 5px 20px;
  background-color: var(--app-main-color);
  border-radius: 30px;
}

/*footer*/
.footer {
  bottom: 0;
  width: 100%;
  height: 4.063rem;
  background-color: #fff;
  border: 1px solid var(--app-main-color);
}
.footer-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/*utilities*/
.img-fluid { width: 100%; }
/*flex box*/
.justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.space-around {
  display: flex;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative { position: relative; }
.absolute { position: absolute; }

/*display*/
.display-none { display: none; }

/* background-color */
.bg-gray { background-color: var(--bg-gray); }
.bg-light-blue { background-color: var(--bg-light-blue); }

/*Typography*/
.text-center {
  text-align: center;
}
/*font-size*/
.font-14 { font-size: 14px; }
.font-16 { font-size: 16px; }

/*border*/
.bb-1 { border-bottom: 1px solid var(--app-main-color); }
.bt-1 { border-top: 1px solid var(--app-main-color); }
/*margin*/
.ml-10 { margin-left: 10px; }
.ml-20 { margin-left: 20px; }
.mt--5 { margin-top: -5px; }
.mt--8 { margin-top: -8px; }
.mt--10 { margin-top: -10px; }
.mt-3 { margin-top: 3px; }
.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }

/*padding*/
.p-0 { padding: 0 !important; }
.p-20 { padding: 20px; }
.pt-10 { padding-top: 10px; }
.pt-20 { padding-top: 20px; }
.pt-30 { padding-top: 30px; }
.pt-40 { padding-top: 40px; }
.pb-10 { padding-bottom: 10px; }
.pb-20 { padding-bottom: 20px; }
.pb-30 { padding-bottom: 30px; }
.pb-40 { padding-bottom: 40px; }
.pl-0 { padding-left: 0 !important; }
.pl-20 { padding-left: 20px; }
.pl-40 { padding-left: 40px; }
.pl-50 { padding-left: 50px; }
.pl-55 { padding-left: 55px; }
.pl-60 { padding-left: 60px; }
