@import url('https://fonts.googleapis.com/css?family=Nunito');
html, body {
  font-family: 'Nunito', sans-serif;
  background-color: #fff;
  font-kerning: normal;
  line-height:28px;
  vertical-align:baseline;
}
body::-webkit-scrollbar {
    width: 0.4em;
}
 /* html, .bg-white {
   background-color: #fff;
 }  */
body::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

body::-webkit-scrollbar-thumb {
background-color:#1960d5;
outline: 1px solid #1960d5;
}
.space-start {
  display: flex;
  justify-content: flex-start;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
@media screen and (min-width: 769px) {
 .container {
   max-width: 960px;
 }
}
.header {
  padding-bottom: 100px;
}
.opynion-layout {
  position: relative;
}
.opynion-nav {
  height: 70px;
  background: #fff;
  box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.1), 0px 1px 5px rgba(0,0,0,0.1);
}
.opynion-brand > a{
font-size: 25px;
font-weight:bolder;
color:#333;
}
.navbar .wizsullivan-brand > a.navbar-item:hover, .navbar .wizsullivan-brand > a.navbar-item.is-active,
.navbar .wizsullivan-nav .navbar-link:hover,
.navbar .wizsullivan-brand .navbar-link.is-active {
  background-color: transparent !important;
  color: #333;
}
.opynion-nav  .navbar-start > a.navbar-item, .opynion-nav  .navbar-start > a.navbar-item.is-active,
  .opynion-nav  .navbar-start .navbar-link,
  .opynion-nav  .navbar-start .navbar-link.is-active,
  .opynion-nav .navbar-end > a.navbar-item,
  .opynion-nav  .navbar-end > a.navbar-item.is-active,
  .opynion-nav  .navbar-end .navbar-link,
  .opynion-nav  .navbar-end .navbar-link.is-active {
    background-color: transparent;
    color: #777;
    border-bottom: 3px solid transparent;
  }
  .opynion-nav  .navbar-start > a.navbar-item:hover, .opynion-nav  .navbar-start > a.navbar-item.is-active,
  .opynion-nav  .navbar-start .navbar-link:hover,
  .opynion-nav  .navbar-start .navbar-link.is-active,
  .opynion-nav  .navbar-end > a.navbar-item:hover,
  .opynion-nav  .navbar-end > a.navbar-item.is-active,
  .opynion-nav .navbar-end .navbar-link:hover,
  .opynion-nav  .navbar-end .navbar-link.is-active {
    background-color: transparent;
    color: #1960d5;
    border-color: #1960d5;
    transition: all .2s ease-out;
  }

/* sidebar */
.sidebar {
  margin-top: 100px;
  background-color: #fff;
  box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.1), 0px 1px 5px rgba(0,0,0,0.2);
}
.sidebar > a {
  padding: 10px 2px;
}

/* rec-card */

.rec-card {
  position: relative;
  font-size: 14px;
  padding: 10px;
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  border-radius: 5px;
  /* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10); */
  /* box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.1), 0px 1px 5px rgba(0,0,0,0.2); */
}
.rec-card:hover {
  color: #222;
  background-color: rgba(238, 238, 238, 0.3);
  transition: all .1s ease-in;
}
.rec-card__image {
  width: 300px;
  height: 150px;
  background-image: linear-gradient(
    to right top,
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.2)),
    url(../images/religion.jpeg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 10px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 91% 75%, 77% 88%, 67% 76%, 0% 75%);
clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 91% 75%, 77% 88%, 67% 76%, 0% 75%);

}
.rec-card-avatar {
  width: 30px;
  height:30px;
  background-image: linear-gradient(
    to right top,
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.2)),
    url(../images/user.jpeg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.rec-card__details {
  position: relative;
 padding-left: 15px;
}
.rec-card__details-title {
  /* font-family: 'Baskerville', sans-serif; */
  font-size: 18px;
  font-weight: 700;
  padding: 0px  5px 0 5px;
}
.rec-card__footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.upvote-btn {
  padding: 5px 10px;
  color: #777;
  background-color: #eee;
  border-radius: 30px;
}
.details-btn {
  padding: 5px 10px;
  color: #777;
  background-color: #f1f1f1;
  border-radius: 30px;
}
.poster-username {
  color: #888;
  font-size: 18px;
  margin-left: 5px;
}
 
/*cardly and inner-card */
.cardly:first-child {
  margin-top: 100px;
}
.cardly {
  position: relative;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: white;
box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.1), 0px 1px 5px rgba(0,0,0,0.2);
border-radius: 0.2em;
overflow: hidden;
box-sizing: border-box;
  /* box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);  */
}

.inner-card {
  position: relative;
  /* box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12); */
}
.cardly:hover {
  transition: all .2s ease-in;
}
.poster-avatar {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-image: url('../images/pexels-photo-220453.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.poster-name {
  color: #777;
  margin-left: 10px;
  font-size: 14px;
}
.poster-name:hover {
  color: #e5950b;
}
.poster-name__username {
  margin-top: -13px;
  font-size: 13px;
}

.inner-card__title {
  color: #777;
  line-height: 28px !important;
  padding: 10px 10px 10px 0px;
  font-size: 24px;
  font-weight: 500;
}
.inner-card__body p {
color: #777;
line-height: 30px !important;
font-size: 15px;
line-height:20px;
vertical-align:baseline;
text-align: start;
}
.inner-card__comment {
  margin-top: 15px;
  color: #777;
  background-color:#222;
  padding: 2px 8px;
  border-radius: 30px;
}
.inner-card__comment:hover {
  background-color:#444;
  color: #777;
}
.inner-card__footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.cardly-poster {
  display: flex;
  justify-content: space-between;
}
.inner-card__footer > .inner-card__footer-time {
  margin-top: 15px;
  color: #777;
}

/*buttons*/
.createBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  color: #222;
  background-color:#eee;
  border-radius: 30px;
}
.createBtn:focus {
  outline: none;
}
.createBtn:hover {
  background-color: #ddd;
  color: #444;
  transition: all .2s ease-in;
}
.opynion-btn {
  margin-top: 15px;
  padding: 5px 10px;
  font-size: 16px;
  color: #222;
  background-color:#eee;
  border-radius: 30px;
  border-radius: none;
}
.opynion-btn:focus {
  outline: none;
}
.opynion-btn:hover {
  background-color: #444;
  color: #fff;
  transition: all .2s ease-in;
}
.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
}
.ripple::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%,transparent 10.01%);
    transform: scale(10,10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}
.ripple:active::after {
    transform: scale(0,0);
    opacity: .3;
    transition: 0s;
}

/* on hover dropdown on each card */
.user-actions {
  position: relative;
  display: inline-block;
}
 .ellipsis {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: -40px;
   margin-right: 20px;
  width: 25px;
  height: 25px;
  font-size: 20px;
  border-radius: 50%;
}
.hidden-card {
  display: none;
  position: absolute;
  left: -55px;
  background-color: #fff;
  min-width: 140px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.hidden-card  a {
  padding: 2px 10px;
  color: #777;
  text-decoration: none;
  display: block;
}
.hidden-card a:hover {
    background-color: #eee;
    color: #444;
    transition: all ease-in .2s;
    cursor: pointer;
}
.user-actions:hover .hidden-card {
    display: block;
    transition: all ease-out 1s;
}
.user-actions:hover .ellipsis {
  background-color: #eee;
  border-radius: 50%;
}

/*detailsCard*/
.relativeDiv {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  /* box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.1), 0px 1px 5px rgba(0,0,0,0.2); */
}
.detailsCard {
  padding: 20px;
  border-radius: 10px;
}
.detailsCard:hover {
  color: #222;
  background-color: rgba(0,0,0,0.03);
}
.detailsCard-user__names {
  color: #777;
  margin: 5px 0 0 10px;
}
.detailsCard-user__names:hover {
  color: #e5950b;
}
.detailsCard-user__names-name {
  font-size: 14px;
}
.detailsCard-user__names-username {
  font-size: 13px;
  margin-top: -15px;
}
.detailsCard-title {
  font-size: 24px;
  color: #222;
  padding: 5px 0 10px 0;
}
.detailsCard-time {
  margin-top: 10px;
}
.details-avatar {
   width: 60px;
  height: 60px;
  border-radius: 100%;
  background-image: url('../images/user.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.detailsCard-body p {
  line-height: 180%;
  font-size: 16px;
  color: #555;
}

/*commentField*/
.commentForm {
  margin: 10px 50px 10px 50px;
}
.commentField {
  position: relative;
  margin-top: 50px;
}
.commenterAvatar {
  position: absolute;
  left: 55px;
  top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: url('../images/user.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
.commentControl {
  padding-left: 50px;
  border-radius:30px !important;
  color: #777;
  border: 0 !important;
}
.commentControl::placeholder {
  color: #666;
}

.commentCount {
  margin-top: 40px;
}
.commentOutput-count {
  margin-top: 2px;
}
.commentOutput-count span {
  color:#000;
  font-size: 14px;
}
.commentOutput-count span:nth-child(2) {
  margin-left: 10px;
}
.commentCount span {
  color: #000;
  font-size: 25px;
}

/* comment output */

.commentOutput {
  position: relative;
  
}
.commentOutputCard {
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
}
.commentOutputCard:hover {
  background-color: rgba(0,0,0,0.03);
}

.commentOutput-user__name {
  margin-left: 10px;
}
.commentOutput-user__name span {
  font-size: 14px;
  font-weight: 600;
}
.commentOutput-user__name .commentOutput-user__name-username {
  margin-top: -16px;
  font-size: 13px;
}
.commentOutput-user__name:hover {
  color: #e5950b;
}
.commentOutput-user__image-avatar {
   width: 45px;
  height: 45px;
  border-radius: 100%;
  background-image: url('../images/user.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.commentOutput-body > p {
  font-size: 16px;
  color: #888;
}
.commentOutput-reactions {
  margin-top: 20px;
}
.commentOutput-reactions span {
  font-size: 16px;
  color: #888;
}
.commentOutput-time {
  margin-top: 15px;
  color: #777;
}
.commentOutput-reactions__reply {
   margin-left: 20px;
   padding: 5px 10px;
   color: #222;
   background-color: rgba(0,0,0,0.05);
   border-radius: 30px;
}
.commentOutput-reactions__like {
   padding: 5px 10px;
   color: #222;
   background-color: rgba(0,0,0,0.05);
   border-radius: 30px;
}
.commentOutput-reactions__reply:hover {
  color: #000;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.commentOutput-reactions__like:hover {
  color: #000;
  cursor: pointer;
  transition: 0.2s ease-in;
}


/*replyCommentField*/
.replyCommentField {
  position: relative;
  padding: 10px;
  margin: 20px 0 0 100px;
}
.replierAvatar {
   position: absolute;
  left: 15px;
  top: 15px;
   width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: url('../images/user.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
.replyCommentControl {
  padding-left: 45px;
  color: #777;
  border-radius: 30px !important;
}
.replyCommentControl::placeholder {
  color: #666;
}
/*replyOutput*/
.replyOutput {
  position: relative;
  margin-bottom: 30px;
}
.replyOutputCard {
  padding: 20px;
  margin: 20px 0 0 100px;
  border-radius: 10px;
}
.replyOutputCard:hover {
  background-color: rgba(0,0,0,0.03);
}
.replyOutput-user__name {
  margin-left: 10px;
  color: #000;
}
.replyOutput-user__name:hover {
  color: darkgoldenrod;
}
.replyOutput-user__name span {
  font-size: 14px;
  font-weight: 600;
}
.replyOutput-user__name .replyOutput-user__name-username {
  margin-top: -12px;
  font-size: 14px;
}
.replyOutput-user__image-avatar {
   width: 45px;
  height: 45px;
  border-radius: 100%;
  background-image: url('../images/user.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.replyOutput-body p{
  font-size: 16px;
  color: #777;
}
.replyOutput-count {
  margin-top: 10px;
}
.replyOutput-count span {
  color: #000;
}
.replyOutput-count span:nth-child(2) {
  margin-left: 10px;
}
.replyOutput-time {
  color: #777;
}
.replyOutput-reactions {
  margin-top: 10px;
}
.replyOutput-reactions__reply {
  margin-left: 20px;
   border-radius: 10px;
   padding: 5px 10px;
   background-color: rgba(0,0,0,0.05);
   border-radius: 10px;
}
.replyOutput-reactions__like {
  border-radius: 10px;
   padding: 5px 10px;
   background-color: rgba(0,0,0,0.05);
   border-radius: 10px;
}
.replyOutput-reactions__like:hover {
  color: #000;
  background-color: #ECEFF5;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.replyOutput-reactions__reply:hover {
  color: #000;
  background-color: #ECEFF5;
  cursor: pointer;
  transition: 0.2s ease-in;
}

/*reply to a reply on comments*/
.replyReplyField {
  position: relative;
  margin: 20px 0 0 100px;
}
.replyReplyForm {
  margin: 10px 50px 10px 50px;
}
.replyReplierAvatar {
   position: absolute;
  left: 53px;
  top: 5px;
   width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: url('../images/pexels-photo-220453.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
.replyReplyControl {
  padding-left: 45px;
  border: 0 !important;
  border-radius: 30px !important;
  color: #777;
}
.replyReplyControl::placeholder {
  color: #666;
}
/* profile */
.profileCard {
  position: relative;
}
.profileCard-avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-image: url('../images/pexels-photo-220453.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
.profileCard-details {
  position: relative;
}
.profileCard-details__firstname {
  padding: 5px 0 0 0;
  font-size: 14px;
}
.profileCard-details__firstname span {
  font-weight: bold;
}
.profileCard-details__lastname {
  padding: 5px 0 0 0;
  font-size: 14px;
}
.profileCard-details__lastname span {
  font-weight: bold;
}
.profileCard-details__username {
  padding: 5px 0 0 0;
  font-size: 14px;
}
.profileCard-details__username span {
  font-weight: bold;
}
.profileCard-details__email {
  padding: 5px 0 0 0;
  font-size: 14px;
}
.profileCard-details__email span {
  font-weight: bold;
}
.profileCard-details__bio {
  line-height: 200%;
}
.Opynion-auth {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
}
/*modal*/
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    height:100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-header {
  position: relative;
  padding: 10px;
}
.modal-header > span {
  position: absolute;
  top: -16px;
  right: 0;
}
.modal-header > h2 {
  text-align: center;
  color: #2E778F;
}
  .modal-content{
   border-radius: 10px;
   background-color: #fff;
   width: 30%;
   margin-top: 150px;
   padding: 20px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
   animation-name: modalopen;
   animation-duration: 1s;
}
  .closeBtn{
    color:#ccc;
    float:right;
    font-size: 30px;
}

  .closeBtn:hover, .closeBtn:focus{
    color:#000;
    text-decoration: none;
    cursor: pointer;
}
  
  @keyframes modalopen{
    from{opacity: 0;}
    to {opacity: 1;}
}

/*nutilities */
.f-w400 {
  font-weight: 400;
}

/*positions*/
.relative {
  position: relative;
}

/*utilities*/
.mt-100 {
  margin-top: 100px;
}