html, body {
  font-family: 'Lato', sans-serif;
  background-color: #eee;
}
body::-webkit-scrollbar {
    width: 0.4em;
}
 html, .bg-white {
   background-color: #fff;
 } 
body::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
  
body::-webkit-scrollbar-thumb {
background-color:#2E778F;
outline: 1px solid #2E778F;
}
.icon {
  font-size: 16px;
}
.space-start {
  display: flex;
  justify-content: flex-start;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.header {
  padding-bottom: 100px;
}
.opynion-nav {
  height: 70px;
  background: #FFFFFF;
  border-top: 1px solid #eee;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
}
.opynion-brand > a{
  font-family: 'Lobster', cursive !important;
font-size: 25px;
font-weight: 800;
color:#2E778F;
}

.createBtn {
  padding: 7px 10px;
  background-color: #ECEFF5;
  border-radius: 30px;
  border: 2px solid #2E778F;
}
.createBtn:focus {
  outline: none;
}
.createBtn:hover {
  background-color: #2E778F;
  color: #fff;
  transition: all .2s ease-in;
}
.banner {
  padding-bottom: 50px;
  width: 100%;
  height: 700px;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 19% 88%, 0% 75%, 0 0);
clip-path: polygon(50% 0%, 100% 0, 100% 75%, 19% 88%, 0% 75%, 0 0);
background-color:#fff;
border-bottom: 1px solid #eee;
box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
}
.banner > .columns > .column:nth-child(1){
  height: 700px;
  background-image: url('../images/banner2.png');
  background-size: contain;
  background-repeat: no-repeat;

}

.cardly {
  position: relative;
  margin-top: 50px;
}
.inner-card {
  position: relative;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  /* box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12); */
}
.poster-avatar {
  margin-bottom: 18px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-image: url('../images/pexels-photo-220453.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -10px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.poster-name {
  margin-top: 8px;
  margin-left: 10px;
}

.inner-card::before {
  position: absolute;
  top: -13px;
  left: 6px;
  content: '';
  height: 30px;
  width: 30px;
  background-color: #fff;
  transform: rotate(43deg);
  border-radius: 1px;
  /* box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12); */
}
.inner-card__title {
  display: flex;
  justify-content: space-between;
}
.inner-card__title > span {
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 600;
}
.inner-card__footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.cardly-poster {
  display: flex;
  justify-content: flex-start;
}
.opynion-btn {
  margin-top: 15px;
  padding: 8px 20px;
  font-size: 16px;
  color: #2E778F;
  background-color: #ECEFF5;
  border: 2px solid #2E778F;
  border-radius: 30px;
}
.opynion-btn:focus {
  outline: none;
}
.opynion-btn:hover {
  background-color: #2E778F;
  color: #fff;
  transition: all .2s ease-in;
}
.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
}
.ripple::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%,transparent 10.01%);
    transform: scale(10,10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}
.ripple:active::after {
    transform: scale(0,0);
    opacity: .3;
    transition: 0s;
}
.inner-card__footer > .inner-card__footer-time {
  margin-top: 15px;
}
/* .hidden-card {
  display: none;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    border-radius: 50%;
} */
.user-actions {
  position: relative;
  display: inline-block;
}
.user-actions > .ellipsis {
  font-size: 16px;
}
/* .hidden-card > .icon{
  font-size: 16px;
color: #777;
} */
.hidden-card {
    display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.hidden-card  a {
    color: black;
  padding: 6px 14px;
  text-decoration: none;
  display: block;
}
.hidden-card a:hover {
    background-color: #2E778F;
    color: #fff;
    transition: all ease-in .2s;
    cursor: pointer;
}
.user-actions:hover .hidden-card {
    display: block;
    transition: all ease-out 1s;
}
.user-actions:hover .ellipsis {
  background-color: #eee;
  border-radius: 50%;
}

/*detailsCard*/
.detailsCard {
  padding: 10px;
  border-radius: 10px;
}
.detailsCard:hover {
  background-color: #f8f8f8;
}
.detailsCard-user__name {
  margin: 5px 0 0 10px;
}
.detailsCard-user__name span {
  font-size: 14px;
}
.detailsCard-title {
  font-size: 25px;
  color: #2E778F;
  padding: 5px 0 10px 0;
}
.detailsCard-time {
  margin-top: 10px;
}
.details-avatar {
   width: 60px;
  height: 60px;
  border-radius: 100%;
  background-image: url('../images/pexels-photo-220453.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.detailsCard-body p {
  line-height: 180%;
  font-size: 14px;
  color: #777;
}
/*commentField*/
.commentForm {
  margin: 10px 50px 10px 50px;
}
.commentField {
  position: relative;
  margin-top: 50px;
}
.commenterAvatar {
  position: absolute;
  left: 55px;
  top: 5px;
   width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: url('../images/pexels-photo-220453.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
.commentControl {
  padding-left: 50px;
}
/* .commentControl::placeholder {
  padding: 5px 0 0 50px;
} */
/* .commentControl + .commenterAvatar {
  display: none;
} */
.commentCount {
  margin-top: 40px;
}
.commentOutput-count {
  margin-top: 10px;
}
.commentOutput-count span {
  color: #e5950b;
}
.commentOutput-count span:nth-child(2) {
  margin-left: 10px;
}
.commentCount span {
  color: #2E778F;
  font-size: 25px;
}

.commentOutput {
  position: relative;
  
}
.commentOutputCard {
  padding: 10px;
  margin-top: 40px;
  border-radius: 10px;
}
.commentOutputCard:hover {
  background-color: #f8f8f8;
}
/* .commentOutput::after {
  height: 500px;
  position: absolute;
  left: 5%;
  top: 100%;
  bottom: 0;
  content: '';
  border-left: 1px solid #ddd;
} */
.commentOutput-user__name {
  margin-left: 10px;
}
.commentOutput-user__name span {
  font-size: 14px;
  font-weight: 600;
}
.commentOutput-user__name .commentOutput-user__name-username {
  margin-top: -5px;
  font-size: 14px;
}
.commentOutput-user__image-avatar {
   width: 45px;
  height: 45px;
  border-radius: 100%;
  background-image: url('../images/pexels-photo-220453.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.commentOutput-body > p {
  line-height: 200%;
  font-size: 14px;
  color: #777;
}
.commentOutput-reactions {
  margin-top: 20px;
}
.commentOutput-reactions span {
  font-size: 18px;
  color: #777;
}
.commentOutput-time {
  margin-top: 15px;
  color: #777;
}
.commentOutput-reactions__reply {
   margin-left: 20px;
}
.commentOutput-reactions__like:hover {
  color: #000;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.commentOutput-reactions__reply:hover {
  padding: 10px;
  color: #000;
  background-color: #ECEFF5;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

/*replyCommentField*/
.replyCommentField {
  position: relative;
  padding: 10px;
  margin: 20px 0 0 100px;
}
.replierAvatar {
   position: absolute;
  left: 15px;
  top: 15px;
   width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: url('../images/pexels-photo-220453.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
.replyCommentControl {
  padding-left: 45px;
}
/*replyOutput*/
.replyOutput {
  position: relative;
  margin-bottom: 30px;
}
.replyOutputCard {
padding: 10px;
  margin: 20px 0 0 100px;
  border-radius: 10px;
}
.replyOutputCard:hover {
  background-color: #f8f8f8;
  transition: all 0.1s ease-in;
}
.replyOutput-user__name {
  margin-left: 10px;
}
.replyOutput-user__name span {
  font-size: 14px;
  font-weight: 600;
}
.replyOutput-user__name .replyOutput-user__name-username {
  margin-top: -5px;
  font-size: 14px;
}
.replyOutput-user__image-avatar {
   width: 45px;
  height: 45px;
  border-radius: 100%;
  background-image: url('../images/pexels-photo-220453.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.replyOutput-body p{
line-height: 200%;
  font-size: 14px;
  color: #777;
}
.replyOutput-count {
  margin-top: 10px;
}
.replyOutput-count span {
  color: #e5950b;
}
.replyOutput-count span:nth-child(2) {
  margin-left: 10px;
}
.replyOutput-time {
  color: #777;
}
.replyOutput-reactions__reply {
   margin:0 20px 0 20px;
   border-radius: 10px;
}
.replyOutput-reactions__like:hover {
  color: #000;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.replyOutput-reactions__reply:hover {
  padding: 5px;
  color: #000;
  background-color: #ECEFF5;
  cursor: pointer;
  transition: 0.2s ease-in;
}

/*reply to reply on comments*/
.replyReplyField {
  position: relative;
  margin: 20px 0 0 100px;
}
.replyReplyForm {
  margin: 10px 50px 10px 50px;
}
.replyReplierAvatar {
   position: absolute;
  left: 53px;
  top: 5px;
   width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: url('../images/pexels-photo-220453.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
.replyReplyControl {
  padding-left: 45px;
}
/*modal*/
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    height:100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.1);
}
.modal-header {
  position: relative;
  padding: 10px;
}
.modal-header > span {
  position: absolute;
  top: -25px;
  right: 0;
}
.modal-header > h2 {
  text-align: center;
  color: #2E778F;
}
  .modal-content{
   border-radius: 10px;
   background-color: #fff;
   /* margin: 30% auto; */
   margin-top: 150px;
   padding: 20px;
   /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),
   0 7px 20px 0 rgba(0,0,0,0.17); */
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
   animation-name: modalopen;
   animation-duration: 1s;
}
  .closeBtn{
    color:#ccc;
    float:right;
    font-size: 30px;
}

  .closeBtn:hover, .closeBtn:focus{
    color:#000;
    text-decoration: none;
    cursor: pointer;
}
  
  @keyframes modalopen{
    from{opacity: 0;}
    to {opacity: 1;}
}