@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
html, body {
  font-family: 'Libre Franklin', sans-serif;
  background-color: #fff;
  font-kerning: normal;
  line-height:33.18px;
vertical-align:baseline;
letter-spacing:-0.063px;
word-spacing:0px;

}
body::-webkit-scrollbar {
    width: 0.4em;
}
 html, .bg-white {
   background-color: #fff;
 } 
body::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

body::-webkit-scrollbar-thumb {
background-color:#2E778F;
outline: 1px solid #2E778F;
}
.ellipsis{
  font-size: 24px;
}
.space-start {
  display: flex;
  justify-content: flex-start;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
@media screen and (min-width: 769px) {
 .container {
   max-width: 960px;
 }
}
.header {
  padding-bottom: 100px;
}
.opynion-layout {
  position: relative;
}
.opynion-nav {
  height: 60px;
  background: #FFFFFF;
  border-bottom: 1px solid #eee;
  /* box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12); */
}
.opynion-brand > a{
font-family: 'Srisakdi', cursive;
font-size: 25px;
font-weight:bolder;
color:#2E778F;
}
.navbar .wizsullivan-brand > a.navbar-item:hover, .navbar .wizsullivan-brand > a.navbar-item.is-active,
.navbar .wizsullivan-nav .navbar-link:hover,
.navbar .wizsullivan-brand .navbar-link.is-active {
  background-color: transparent !important;
  color: #0a0a0a;
}
.opynion-nav  .navbar-start > a.navbar-item, .opynion-nav  .navbar-start > a.navbar-item.is-active,
  .opynion-nav  .navbar-start .navbar-link,
  .opynion-nav  .navbar-start .navbar-link.is-active,
  .opynion-nav .navbar-end > a.navbar-item,
  .opynion-nav  .navbar-end > a.navbar-item.is-active,
  .opynion-nav  .navbar-end .navbar-link,
  .opynion-nav  .navbar-end .navbar-link.is-active {
    background-color: transparent;
    color: #333;
    border-bottom: 2px solid transparent;
  }
  .opynion-nav  .navbar-start > a.navbar-item:hover, .opynion-nav  .navbar-start > a.navbar-item.is-active,
  .opynion-nav  .navbar-start .navbar-link:hover,
  .opynion-nav  .navbar-start .navbar-link.is-active,
  .opynion-nav  .navbar-end > a.navbar-item:hover,
  .opynion-nav  .navbar-end > a.navbar-item.is-active,
  .opynion-nav .navbar-end .navbar-link:hover,
  .opynion-nav  .navbar-end .navbar-link.is-active {
    background-color: transparent;
    color: #2E778F;
    border-color: #2E778F;
    transition: all .2s ease-out;
  }

.banner {
  padding-bottom: 50px;
  width: 100%;
  height: 700px;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 19% 88%, 0% 75%, 0 0);
clip-path: polygon(50% 0%, 100% 0, 100% 75%, 19% 88%, 0% 75%, 0 0);
background-color:#fff;
border-bottom: 1px solid #eee;
box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
}
.banner > .columns > .column:nth-child(1){
  height: 700px;
  background-image: url('../images/banner2.png');
  background-size: contain;
  background-repeat: no-repeat;

}

/*cardly and inner-card */
.cardly {
  position: relative;
  background-color: #fff;
  padding: 15px;
  margin-top: 50px;
  border-radius: 5px;
  border: 1px solid #eee;
  /* box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);  */
}

.inner-card {
  position: relative;
  /* box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12); */
}
.cardly:hover {
  background-color: #f8f8f8;
  transition: all .2s ease-in;
}
.poster-avatar {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-image: url('../images/pexels-photo-220453.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.poster-name {
  color: #333;
  margin-left: 10px;
  font-size: 14px;
}
.poster-name:hover {
  color: #e5950b;
}
.poster-name__username {
  margin-top: -13px;
  font-size: 13px;
}

/* .inner-card::before {
    content: "";
  position: absolute;
  top: -38px;
  left: 0;
  border-width: 20px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  transform: rotate(180deg);
  border-radius: 2px;
} */

.inner-card__title > span {
  color: #3e5463;
  line-height: 28px !important;
  padding-bottom:0 15px;
  font-size: 24px;
  font-weight: 500;
}
.inner-card__body p {
color: #536876;
line-height: 30px !important;
font-size: 15px;
line-height:20px;
vertical-align:baseline;
text-align: start;
}
.inner-card__comment {
  margin-top: 15px;
}
.inner-card__footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.cardly-poster {
  display: flex;
  justify-content: space-between;
}
.inner-card__footer > .inner-card__footer-time {
  margin-top: 15px;
  color: #777;
}

/*buttons*/
.createBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #ECEFF5;
  border-radius: 30px;
  border: 2px solid #2E778F;
}
.createBtn:focus {
  outline: none;
}
.createBtn:hover {
  background-color: #2E778F;
  color: #fff;
  transition: all .2s ease-in;
}
.opynion-btn {
  margin-top: 15px;
  padding: 2px 10px;
  font-size: 16px;
  color: #2E778F;
  background-color: #ECEFF5;
  border-radius: 30px;
  border-radius: none;
}
.opynion-btn:focus {
  outline: none;
}
.opynion-btn:hover {
  background-color: #2E778F;
  color: #fff;
  transition: all .2s ease-in;
}
.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
}
.ripple::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%,transparent 10.01%);
    transform: scale(10,10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}
.ripple:active::after {
    transform: scale(0,0);
    opacity: .3;
    transition: 0s;
}

/* .hidden-card {
  display: none;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    border-radius: 50%;
} */

/* on hover dropdown on each card */
.user-actions {
  position: relative;
  display: inline-block;
}
 .ellipsis {
   display: flex;
   justify-content: center;
   align-items: center;
  width: 25px;
  height: 25px;
  font-size: 20px;
  border-radius: 50%;
}
/* .hidden-card > .icon{
  font-size: 16px;
color: #777;
} */
.hidden-card {
  display: none;
  position: absolute;
  left: -55px;
  background-color: #fff;
  min-width: 140px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.hidden-card  a {
  padding: 5px 10px;
    color: black;
  text-decoration: none;
  display: block;
}
.hidden-card a:hover {
    background-color: #2E778F;
    color: #fff;
    transition: all ease-in .2s;
    cursor: pointer;
}
.user-actions:hover .hidden-card {
    display: block;
    transition: all ease-out 1s;
}
.user-actions:hover .ellipsis {
  background-color: #eee;
  border-radius: 50%;
}

/*detailsCard*/
.detailsCard {
  padding: 10px;
  border-radius: 10px;
}
.detailsCard:hover {
  background-color: #f8f8f8;
}
.detailsCard-user__names {
  margin: 5px 0 0 10px;
}
.detailsCard-user__names:hover {
  color: #e5950b;
}
.detailsCard-user__names-name {
  font-size: 14px;
}
.detailsCard-user__names-username {
  font-size: 13px;
  margin-top: -15px;
}
.detailsCard-title {
  font-size: 25px;
  color: #2E778F;
  padding: 5px 0 10px 0;
}
.detailsCard-time {
  margin-top: 10px;
}
.details-avatar {
   width: 60px;
  height: 60px;
  border-radius: 100%;
  background-image: url('../images/pexels-photo-220453.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.detailsCard-body p {
  line-height: 180%;
  font-size: 15px;
  color: #444;
}

/*commentField*/
.commentForm {
  margin: 10px 50px 10px 50px;
}
.commentField {
  position: relative;
  margin-top: 50px;
}
.commenterAvatar {
  position: absolute;
  left: 55px;
  top: 5px;
   width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: url('../images/pexels-photo-220453.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
.commentControl {
  padding-left: 50px;
  border-radius:30px !important;
}
/* .commentControl::placeholder {
  padding: 5px 0 0 50px;
} */
/* .commentControl + .commenterAvatar {
  display: none;
} */
.commentCount {
  margin-top: 40px;
}
.commentOutput-count {
  margin-top: 2px;
}
.commentOutput-count span {
  color: #e5950b;
  font-size: 12px;
}
.commentOutput-count span:nth-child(2) {
  margin-left: 10px;
}
.commentCount span {
  color: #2E778F;
  font-size: 25px;
}

/* comment output */

.commentOutput {
  position: relative;
  
}
.commentOutputCard {
  padding: 10px;
  margin-top: 40px;
  border-radius: 10px;
}
.commentOutputCard:hover {
  background-color: #f8f8f8;
}

.commentOutput-user__name {
  margin-left: 10px;
}
.commentOutput-user__name span {
  font-size: 14px;
  font-weight: 600;
}
.commentOutput-user__name .commentOutput-user__name-username {
  margin-top: -16px;
  font-size: 13px;
}
.commentOutput-user__name:hover {
  color: #e5950b;
}
.commentOutput-user__image-avatar {
   width: 45px;
  height: 45px;
  border-radius: 100%;
  background-image: url('../images/pexels-photo-220453.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.commentOutput-body > p {
  line-height: 200%;
  font-size: 15px;
  color: #444;
}
.commentOutput-reactions {
  margin-top: 20px;
}
.commentOutput-reactions span {
  font-size: 15px;
  color: #777;
}
.commentOutput-time {
  margin-top: 15px;
  color: #777;
}
.commentOutput-reactions__reply {
   margin-left: 20px;
}
.commentOutput-reactions__reply:hover {
  color: #000;
}
.commentOutput-reactions__like:hover {
  color: #000;
  cursor: pointer;
  transition: 0.2s ease-in;
}


/*replyCommentField*/
.replyCommentField {
  position: relative;
  padding: 10px;
  margin: 20px 0 0 100px;
}
.replierAvatar {
   position: absolute;
  left: 15px;
  top: 15px;
   width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: url('../images/pexels-photo-220453.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
.replyCommentControl {
  padding-left: 45px;
}
/*replyOutput*/
.replyOutput {
  position: relative;
  margin-bottom: 30px;
}
.replyOutputCard {
padding: 10px;
  margin: 20px 0 0 100px;
  border-radius: 10px;
}
.replyOutputCard:hover {
  background-color: #f8f8f8;
  transition: all 0.1s ease-in;
}
.replyOutput-user__name {
  margin-left: 10px;
}
.replyOutput-user__name span {
  font-size: 14px;
  font-weight: 600;
}
.replyOutput-user__name .replyOutput-user__name-username {
  margin-top: -5px;
  font-size: 14px;
}
.replyOutput-user__image-avatar {
   width: 45px;
  height: 45px;
  border-radius: 100%;
  background-image: url('../images/pexels-photo-220453.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.replyOutput-body p{
line-height: 200%;
  font-size: 15px;
  color: #444;
}
.replyOutput-count {
  margin-top: 10px;
}
.replyOutput-count span {
  color: #e5950b;
}
.replyOutput-count span:nth-child(2) {
  margin-left: 10px;
}
.replyOutput-time {
  color: #777;
}
.replyOutput-reactions__reply {
   margin:0 20px 0 10px;
   border-radius: 10px;
}
.replyOutput-reactions__like:hover {
  color: #000;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.replyOutput-reactions__reply:hover {
  padding: 5px;
  color: #000;
  background-color: #ECEFF5;
  cursor: pointer;
  transition: 0.2s ease-in;
}

/*reply to a reply on comments*/
.replyReplyField {
  position: relative;
  margin: 20px 0 0 100px;
}
.replyReplyForm {
  margin: 10px 50px 10px 50px;
}
.replyReplierAvatar {
   position: absolute;
  left: 53px;
  top: 5px;
   width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: url('../images/pexels-photo-220453.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
.replyReplyControl {
  padding-left: 45px;
}

/* profile */
.profileCard {
  position: relative;
}
.profileCard-avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-image: url('../images/pexels-photo-220453.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
.profileCard-details {
  position: relative;
}
.profileCard-details__firstname {
  padding: 5px 0 0 0;
  font-size: 14px;
}
.profileCard-details__firstname span {
  font-weight: bold;
}
.profileCard-details__lastname {
  padding: 5px 0 0 0;
  font-size: 14px;
}
.profileCard-details__lastname span {
  font-weight: bold;
}
.profileCard-details__username {
  padding: 5px 0 0 0;
  font-size: 14px;
}
.profileCard-details__username span {
  font-weight: bold;
}
.profileCard-details__email {
  padding: 5px 0 0 0;
  font-size: 14px;
}
.profileCard-details__email span {
  font-weight: bold;
}
.profileCard-details__bio {
  line-height: 200%;
}
.Opynion-auth {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
}
/*modal*/
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    height:100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.1);
}
.modal-header {
  position: relative;
  padding: 10px;
}
.modal-header > span {
  position: absolute;
  top: -25px;
  right: 0;
}
.modal-header > h2 {
  text-align: center;
  color: #2E778F;
}
  .modal-content{
   border-radius: 10px;
   background-color: #fff;
   margin-top: 150px;
   padding: 20px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
   animation-name: modalopen;
   animation-duration: 1s;
}
  .closeBtn{
    color:#ccc;
    float:right;
    font-size: 30px;
}

  .closeBtn:hover, .closeBtn:focus{
    color:#000;
    text-decoration: none;
    cursor: pointer;
}
  
  @keyframes modalopen{
    from{opacity: 0;}
    to {opacity: 1;}
}

/*nutilities */
.f-w400 {
  font-weight: 400;
}

/*positions*/
.relative {
  position: relative;
}